body {
    background-color: #2541b2;
}

form {
    color: #dddddd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#other-budget {
    background-color: #1768ac;
    border: 3px solid darkgoldenrod;
    color: whitesmoke;
}

.text {
    background-color: #1768ac;
    border: 3px solid darkgoldenrod;
    color: whitesmoke;
}

.text:focus {
    background-color: whitesmoke;
    color: black;
}

#other-budget:focus {
    background-color: whitesmoke;
    color: black;
}

h1 {
    color: #e5d549;
    text-align: center;
}

a {
    color: #e5d549;
}

a:visited {
    color: gold;
}